.grid-container {
    border: 1px dashed #999;
    min-height: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 50px 1fr 60px;
}
.grid-item  {
    border: 1px solid goldenrod;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-style:1.2rem ;
}
.item-1 {
    background-color: rgb(163, 163,246);
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}

.item-2 {
    background-color: blueviolet;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.item-3 {
background-color: aqua;
grid-column: 2 /3;
 grid-row: 2 / 3;
}

.item-4 {
background-color: palegreen;
grid-column: 3 /4;
grid-row: 2 / 3;
}
.item-5 {
background-color: greenyellow;
}
.item-6 {
background-color: goldenrod;
grid-column: 1 /span 3;
grid-row: 3 / 4;
}